body{
    font-family: "Open Sans";
}
.navbar {
    box-shadow: 0 2px 5px rgba(231, 40, 40, 0.5);
    top: 0;
    right: 0;
    left: 0;
}
section#home {
    position:relative;
    height: 100vh;
    margin-top: -72px;
    overflow: hidden;
}
.max-width{
    margin: auto 0 auto 40px ;
}

section#home::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    left: 0; right: 0; top: 0; bottom: 0;
}
section#about {
    position:relative;
    height: 100vh;
    margin-top: -72px;
    overflow: hidden;
}
section#last {
    position:relative;
    height: 100vh;
    margin-top: -72px;
    overflow: hidden;
}
section#analytics {
    position:relative;
    height: 50vh;
    margin-top: -72px;
    overflow: hidden;
}
.home-content {
   /* border: 1px solid #ccc; */
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 1;
    text-shadow: 0 0 5px #000;
}
.home-content h1 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.25em;
    margin-bottom: 20px;
    white-space: nowrap;
}
.home-content h2 {
    font-size: 1.75em;
    margin-bottom: 0;
}
.home-content h2 span {
    font-weight: normal;
    color: rgb(246, 242, 250);
}
.home-content h3 {
    font-size: large;
    font-family: 'Times New Roman';
    color:green;
}
.home-content p {
    font-size: 1.5em;
    margin-bottom: 15px;
    font-weight: 300;
}
.home-content1 {
    /* border: 1px solid #ccc;*/
    position:absolute;
    top: 56%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
     /*text-shadow: 0 0 5px #000;*/
 }
 .home-content1 p{
     font-size:large;
     color: #fff;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .home-content1 h4{
    font-size:large;
    color: rgb(12, 2, 2);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 .home-content2 {
    /* border: 1px solid #ccc;*/
     position:absolute;
     top: 40%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: rgb(247, 243, 243);
     z-index: 1;
     /*text-shadow: 0 0 5px #000;*/
 }
 .home-content1 h1 {
     color: rgb(10, 1, 1);
     font-size:larger;
     font-size: 3.25em;
     font-weight: 300;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .home-content1 h3 {
     color: rgb(253, 253, 253);
     font-size: large;
     font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
.home-image {
    left: 0%;
    right: 0%;
    display: flex;
    background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSU_KvmYEeXUTyrEVMQYggQY5AALrKLaP9QGQ&usqp=CAU") no-repeat center;
    position:absolute;
    z-index: -1;
    left: 35%;
    transform: translate(-35%);
    width: 100%;
    height: 100%;
    color: #fff;
    min-height: 500px;
}
.about-image {
    width: 45%;
    height: 400px;
    width:400px;
    object-fit:cover;
    border-radius: 6px;
}
